@media(min-width:768px) {
    .ipy-md-16 {
        padding-top: 64px !important;
        padding-bottom: 64px !important;
    }

    .ipx-md-40 {
        padding-left: 160px !important;
        padding-right: 160px !important;
    }

    .search-box .ibtn-search {
        width: 240px;
        border-radius: 4px;
      
          
    }
}
